bucket         = "baykar-terraform-state"
key            = "baykar-devops-assessment/terraform.tfstate"
region         = "eu-central-1"
dynamodb_table = "baykar-terraform-locks"
encrypt        = true
